<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div><a class="logo">
              <img class="img-fluid for-light" src="../../../assets/images/logo/icn_password.png" alt="loginpage" width="20px"><img
                class="img-fluid for-dark" src="../../../assets/images/logo/icn_password.png" alt="loginpage" width="20px"></a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="loginForm">
              <h3>Welcome, Please Login</h3>
              <p></p>
              <div class="form-group">
                <label class="col-form-label">Email/Mobile Number</label>
                <input class="form-control" type="email" required="" formControlName="email" />
                @if(loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']){
                <div class="text text-danger mt-1"> Email/Mobile Number is required.</div>
                }
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative">
                  <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password"
                    required="" />
                  @if(!show){
                  <div class="show-hide" (click)="showPassword()"><span class="show font-primary"> </span></div>
                  }@else{
                  <div class="show-hide" (click)="showPassword()"><span class="Hide font-primary"></span></div>
                  }
                  @if(loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']){
                  <div class="text text-danger mt-1">Password is required.</div>
                  }
                </div>
              </div>
              <div class="form-group ">
                 <div class="text-end mt-3 ">
                  <button class="btn btn-primary btn-block w-100 " [disabled]="!loginForm.valid"
                    (click)="authenticateUser()" type="submit">Login</button>
                </div>
              </div>
              <mat-progress-bar class="mt-2" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
              <div class="d-flex justify-content-center sd-error form-group ">
                <div class="text text-danger mt-1">{{errorMessage}}</div>
              </div>
              <div class="form-group mb-4">
                <a class="link" [routerLink]="['/forgot-password']">Forgot password?</a>
              </div>
              <div class="social mt-4">
                <div class="btn-showcase hide">
                  <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                    <app-feathericon [icon]="'linkedin'" class="txt-linkedin"></app-feathericon>LinkedIn
                  </a>
                  <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                    <app-feathericon [icon]="'twitter'" class="txt-twitter"></app-feathericon>twitter
                  </a>
                  <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                    <app-feathericon [icon]="'facebook'" class="txt-fb"></app-feathericon>facebook
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>