<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/favicon3.png" alt="loginpage"><img
                                class="img-fluid for-dark" src="assets/images/logo/favicon3.png" alt="loginpage"></a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="forgotPasswordForm">
                            <h3>Forgot Password</h3>
                            <div class="form-group mt-4">
                                <label class="col-form-label">Email</label>
                                <input class="form-control" type="email" required="" formControlName="email" />
                                @if(forgotPasswordForm.controls['email'].touched &&
                                forgotPasswordForm.controls['email'].errors?.['required']){
                                <div class="text text-danger mt-1"> Email is required.</div>
                                }
                                @if(forgotPasswordForm.controls['email'].touched &&
                                forgotPasswordForm.controls['email'].errors?.['email']){
                                <div class="text text-danger mt-1">Please enter a valid email address.</div>
                                }
                            </div>
                            <div class="form-group ">
                                <div class="text-end mt-3 ">
                                    <button class="btn btn-primary btn-block w-100 "
                                        [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()"
                                        type="submit">Submit</button>
                                </div>
                            </div>
                            <mat-progress-bar class="mt-2" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                            <div class="d-flex justify-content-center sd-error">
                                <div class="text text-danger mt-1">{{errorMessage}}</div>
                            </div>
                            <p class="mt-4 mb-0 text-center">Already have an Account?<a class="ms-2"
                                    [routerLink]="['/user-login']">Log in</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>