<div class="container-fluid">
  <div class="row m-1">
    <div class="col-12 col-md-6 col-lg-3 mx-2 my-1">
      <a [routerLink]="['/', 'admin', 'attendance', 'punch']" class="card-link">
        <div class="card row p-2">
          <div class="row">
            <div class="info-box col-4 col-md-3 m-0 icon-class">
              <span class="icofont icofont-clock-time"></span>
            </div>
            <div class="col-8 col-md-8 px-2 py-1">
              <h3 class="pad-bottom m-0">Dashboard</h3>
              <h2 class="text-bold m-0">Data</h2>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
