@import "./src/assets/scss/themes/custom";
.icon{
    font-size: large;
    color: green
}

.form-check-input[type="radio"] {
    width: 20px; 
    height: 20px; 
  }
  
  .form-check-input[type="radio"]::before {
    width: 16px; 
    height: 16px; 
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .form_lable{
    margin-top: 0;
    width: 50%;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    top: 0;
  }

  .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.hidediv{
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}