<div>
  <div class="logo-wrapper">
    <a [routerLink]="'/admin/dashboard'">
      <img class="img-fluid" src="../header/assets/images/logo/favicon3.png" alt="">
      <!-- D:\New Project\Frontend\src\app\shared\component\sidebar\sidebar.component.html
      D:\New Project\Frontend\src\app\shared\component\header\assets\images\logo\favicon3.png -->
    </a>
    <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
  </div>
  <nav class="sidebar-main">
    <div id="sidebar-menu">
      <ul class="sidebar-links" id="simple-bar">
        <li class="back-btn"><a [routerLink]="'/dashboard'"></a>
          <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
          </div>
        </li>
        <li class="sidebar-main-title">
          <div></div>
        </li>
        @for(mainMenu of menus; track mainMenu){
        <li class="sidebar-list">
          <ng-container *ngIf="mainMenu.item; else emptyLi">
            <a [routerLink]="mainMenu.path" class="sidebar-link sidebar-title" (click)=" toggleMenu(mainMenu)"
              [class.active]="mainMenu.active == true">
              @if(mainMenu.icon){
              <app-svg-icon [icon]="mainMenu.icon"></app-svg-icon>
              }
              <span class="test" [ngClass]="updateActiveState(mainMenu.item)" class="submenu-name">{{mainMenu.mainTitle!
                | translate }}</span>
            </a>
            <ul class="sidebar-submenu theme-scrollbar" [ngStyle]="{ 'display' : mainMenu.active ? 'block' : 'none' }">
              <li class="sidebar-head">{{ mainMenu.headTitle1! | translate }}</li>
              <div *ngTemplateOutlet="recursiveMenu; context: { $implicit: mainMenu.item }"></div>
              <ng-template #recursiveMenu let-mainMenu.item>
                @for(item of mainMenu.item; track item){
                @if(item.children){
                <li class="main-submenu">
                  <a class="d-flex sidebar-menu" href="javascrip:void(0)" (click)="toggle(item)"
                    [routerLink]="item.path" [ngClass]="item.active ? 'active' : ''">
                    @if(item.icon){
                    <app-svg-icon [icon]="item.icon"></app-svg-icon>
                    }
                    {{ item.title! | translate }}
                    @if(item.children){
                    <svg class="arrow">
                      <use href="assets/svg/icon-sprite.svg#Arrow-right"></use>
                    </svg>
                    }
                  </a>
                  @if(item.children){
                  <ul class="submenu-wrapper" [ngStyle]="{ 'display' : item.active ? 'block' : 'none'}">
                    @for( child of item.children; track child){
                    <li>
                      @if(!child.children){
                      <a (click)="toggle(child,mainMenu)" [routerLink]="child.path">{{ child.title! | translate }} </a>
                      }@else{
                      <a class="submenu-title" href="javascrip:void(0)" (click)="toggle(child)"
                        [ngClass]="child.active ? 'active' : '' " [routerLink]="child.path">
                        {{ child.title!| translate }}
                        <div class="according-menu">
                          @if(child.children){
                          <i class="fa fa-angle-{{ child.active ? 'down' : 'right' }} pull-right"></i>
                          }
                        </div>
                      </a>
                      }
                      @if(child.children){
                      <ul class="nav-sub-childmenu submenu-content"
                        [ngStyle]="{ 'display' : child.active ? 'block' : 'none' }">
                        @for( sub of child.children; track sub){
                        <li>
                          @if(sub.type == 'extTabLink'){
                          <a href="{{ sub.path }}" target="_blank"> {{sub.title! | translate }} </a>
                          }@else{
                          <a [routerLink]="sub.path" href="javascrip:void(0)" (click)="toggle(sub,mainMenu)">{{
                            sub.title!| translate }}</a>
                          }
                        </li>
                        }
                      </ul>
                      }
                    </li>
                    }
                  </ul>
                  }
                </li>
                }@else{
                <li class="main-submenu ">
                  <a class="d-flex submenu-name" [ngClass]="isActiveRoute(item.path)" [routerLink]="item.path"
                    (click)="toggle(item,mainMenu)">
                    @if(item.icon){
                    <app-svg-icon [icon]="item.icon"></app-svg-icon>
                    }
                    {{ item.title! | translate }}
                  </a>
                </li>
                }
                }
              </ng-template>
            </ul>
          </ng-container>
          <ng-template #emptyLi>
             <a [routerLink]="mainMenu.path" class="sidebar-link sidebar-title" [routerLink]="mainMenu.path"  (click)=" toggleMenu(mainMenu)"
              [class.active]="mainMenu.active == true">
              @if(mainMenu.icon){
              <app-svg-icon [icon]="mainMenu.icon"></app-svg-icon>
              }
              <span [ngClass]="isActiveRoute(mainMenu.path)" class="submenu-name">{{ mainMenu.mainTitle! | translate
                }}</span>
            </a>
          </ng-template>
        </li>
      }
      </ul>
    </div>
  </nav>
</div>