@import "./src/assets/scss/themes/custom";
@import "./src/assets/scss/pages_old/_dashboard_default.scss";
.aling-center {
  align-items: center;
}

.w-40 {
  width: 40% !important;
}

.fix-width {
  width: auto;
  height: 100%;
}

.img-bg {
  background-color: white;
}

.card-height {
  min-height: 26rem;
}

.card-width {
  width: 100%;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.icon {
  font-size: large;
  color: green;
}