<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/favicon3.png" alt="loginpage"><img
                                class="img-fluid for-dark" src="assets/images/logo/favicon3.png" alt="loginpage"></a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="confirmPasswordForm">
                            <h3>Confirm Password</h3>
                            <div class="form-group mt-4 mb-4">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="show ? 'text' : 'password'"
                                        formControlName="password" required="" />
                                    @if(!show){
                                    <div class="show-hide" (click)="showPassword()"><span class="show font-primary">
                                        </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showPassword()"><span
                                            class="Hide font-primary"></span></div>
                                    }
                                    @if(confirmPasswordForm.controls['password'].touched &&
                                    confirmPasswordForm.controls['password'].errors?.['required']){
                                    <div class="text text-danger mt-1">Password is required.</div>
                                    }
                                </div>
                            </div>
                            <div class="form-group  mb-4">
                                <label class="col-form-label">Confirm Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="isShowConfirmPassword ? 'text' : 'password'"
                                        formControlName="confirmPassword" required="" />
                                    @if(!isShowConfirmPassword){
                                    <div class="show-hide" (click)="showConfirmPassword()"><span
                                            class="show font-primary">
                                        </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showConfirmPassword()"><span
                                            class="Hide font-primary"></span></div>
                                    }
                                    @if(confirmPasswordForm.controls['confirmPassword'].touched &&
                                    confirmPasswordForm.controls['confirmPassword'].errors?.['required']){
                                    <div class="text text-danger mt-1">Confirm Password is required.</div>
                                    }
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="text-end mt-3 ">
                                    <button class="btn btn-primary btn-block w-100 "
                                        [disabled]="!confirmPasswordForm.valid" (click)="confirmPassword()"
                                        type="submit">Submit</button>
                                </div>
                            </div>
                            <mat-progress-bar class="mt-2" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                            <div class="d-flex justify-content-center sd-error form-group ">
                                <div class="text text-danger mt-1">{{errorMessage}}</div>
                                <div class="text text-danger mt-1"
                                    *ngIf="confirmPasswordForm.hasError('passwordMismatch')">
                                    Passwords do not match.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>