.fixed-size-image {
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
 // object-fit: cover; /* Optional: This property specifies how the contents of the replaced element should be fitted to the box. Adjust as needed (cover, contain, etc.). */
}

.img-bg{
  background-color: white;
}