<div [ngClass]="navService.isDisplay ? 'page-header close_icon' : 'page-header'" [ngStyle]="{ display: hidenav.show ? 'none' : 'block' }" [class.sidebar-default]="navService.isShow == true">
  <div class="header-wrapper row m-0">
    <div class="logo-wrapper">
      <a [routerLink]="'admin/dashboard'"><img class="img-fluid" src="assets/images/logo/favicon3.png" alt="" /></a>
    </div>
    <svg class="stroke-icon toggle-sidebar" (click)="openMenu()">
      <use class="status_toggle middle sidebar-toggle" href="assets/svg/icon-sprite.svg#Grid"></use>
    </svg>
    <div class="nav-right col-auto pull-right right-header p-0 ms-auto">
      <ul class="nav-menus" [class.open]="open">
        <li>
          <app-theme></app-theme>
        </li>
        <li class="profile-nav onhover-dropdown pe-0 py-0">
          <app-profile></app-profile>
        </li>
        @if(menuItems.length){
        <div class="Typeahead-menu theme-scrollbar" [class.is-open]="searchResult" id="search-outer" [class.open]="open" (clickOutside)="clickOutside()">
          @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
          <div class="ProfileCard u-cf">
            <div class="ProfileCard-details">
              <div class="ProfileCard-realName">
                <div class="ProfileCard-avatar">
                  <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
                </div>
                <a [routerLink]="menuItem?.path" class="realname" (click)="removeFix()">{{ menuItem?.title }}</a>
              </div>
            </div>
          </div>
          }
        </div>
        }
        <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
          <div class="tt-dataset tt-dataset-0">
            <div class="EmptyMessage">Opps!! There are no result found.</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
